{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<form action="{{ url_for('auth.sign_up') }}" method="POST" enctype="multipart/form-data">
  <h3 align="center">Sign Up</h3>

  <div class="form-group">
    <label for="companyName">Company Name</label>
    <input
      type="text"
      class="form-control"
      id="companyName"
      name="companyName"
      placeholder="Enter company name"
    />
  </div>

  <div class="form-group">
    <label for="companyLogo">Company Logo</label>
    <input
      type="file"
      class="form-control"
      id="companyLogo"
      name="companyLogo"
      autocomplete="off"
    />
  </div>

  <div class="form-group">
    <label for="companyAddress1">Address Line 1</label>
    <input
      type="text"
      class="form-control"
      id="companyAddress1"
      name="companyAddress1"
      placeholder="Enter address line 1"
    />
  </div>

  <div class="form-group">
    <label for="companyAddress2">Address Line 2</label>
    <input
      type="text"
      class="form-control"
      id="companyAddress2"
      name="companyAddress2"
      placeholder="Enter address line 2"
    />
  </div>

  <div class="form-group">
    <label for="companyCity">City/Town</label>
    <input
      type="text"
      class="form-control"
      id="companyCity"
      name="companyCity"
      placeholder="Enter city/town"
    />
  </div>

  <div class="form-group">
    <label for="companyCounty">County</label>
    <input
      type="text"
      class="form-control"
      id="companyCounty"
      name="companyCounty"
      placeholder="Enter county"
    />
  </div>

  <div class="form-group">
    <label for="companyPostcode">Postcode</label>
    <input
      type="text"
      class="form-control"
      id="companyPostcode"
      name="companyPostcode"
      placeholder="Enter postcode"
    />
  </div>

  <div class="form-group">
    <label for="companyCountry">Country</label>
    <select id="companyCountry" name="companyCountry">
    <option value="United Kingdom">United Kingdom</option>
    </select>
  </div>

  <div class="form-group">
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>

  <div class="form-group">
    <label for="companyTel">Tel</label>
    <input
      type="text"
      class="form-control"
      id="companyTel"
      name="companyTel"
      placeholder="Enter tel"
    />
  </div>

  <div class="form-group">
    <label for="companyReg">Company Registration Number</label>
    <input
      type="text"
      class="form-control"
      id="companyReg"
      name="companyReg"
      placeholder="Enter company registration number"
    />
  </div>
  <p>Bank Details: ONLY FOR USE ON INVOICE</p>
  <div class="form-group">
    <label for="bank">Bank Name</label>
    <input
      type="text"
      class="form-control"
      id="bank"
      name="bank"
      placeholder="Enter bank"
    />
  </div>

  <div class="form-group">
    <label for="sortCode">Sort Code</label>
    <input
      type="text"
      class="form-control"
      id="sortCode"
      name="sortCode"
      placeholder="Enter sort code"
    />
  </div>

  <div class="form-group">
    <label for="accountNumber">Account Number</label>
    <input
      type="text"
      class="form-control"
      id="accountNumber"
      name="accountNumber"
      placeholder="Enter account number"
    />
  </div>

  <div class="form-group">
    <label for="password1">Password</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Enter password"
    />
  </div>
  <div class="form-group">
    <label for="password2">Password (Confirm)</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Confirm password"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}

