{% extends "base.html" %} {% block title %}Account Details{% endblock %} {% block
content %}
<head>
<style>
        .logo-container {
            text-align: center; /* Center the logo */
            margin-bottom: 20px; /* Space below the logo */
        }

        .responsive {
            width: 25%;
            height: auto;
        }
    </style>
</head>

<body>
    <div class="logo-container">
        {% if user.company_logo %}
            <img src="data:image/jpeg;base64,{{ user.company_logo }}" alt="Company Logo" class="responsive" />
        {% else %}
            <p>No logo available</p>
        {% endif %}
    </div>


<form action="{{ url_for('views.account') }}" method="POST" enctype="multipart/form-data">
  <h3>Account Information / Invoice Details</h3> <br>
  <h5>Update chosen fields and click 'Update':</h5>

  <div class="form-group">
    <label for="companyName">Company Name</label>
    <input
      type="text"
      class="form-control"
      id="companyName"
      name="companyName"
      placeholder="{{ user.company_name }}"
    />
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="text"
      class="form-control"
      id="email"
      name="email"
      placeholder="{{ user.email }}"
    />
  </div>

  <div class="form-group">
    <label for="companyLogo">Company Logo</label>
    <input
      type="file"
      class="form-control"
      id="companyLogo"
      name="companyLogo"
    />
  </div>

  <div class="form-group">
    <label for="companyAddress1">Address Line 1</label>
    <input
      type="text"
      class="form-control"
      id="companyAddress1"
      name="companyAddress1"
      placeholder="{{ user.company_address1 }}"
    />
  </div>

  <div class="form-group">
    <label for="companyAddress2">Address Line 2</label>
    <input
      type="text"
      class="form-control"
      id="companyAddress2"
      name="companyAddress2"
      placeholder="{{ user.company_address2 }}"
    />
  </div>

  <div class="form-group">
    <label for="companyCity">City/Town</label>
    <input
      type="text"
      class="form-control"
      id="companyCity"
      name="companyCity"
      placeholder="{{ user.company_city }}"
    />
  </div>

  <div class="form-group">
    <label for="companyCounty">County</label>
    <input
      type="text"
      class="form-control"
      id="companyCounty"
      name="companyCounty"
      placeholder="{{ user.company_county }}"
    />
  </div>

  <div class="form-group">
    <label for="companyPostcode">Postcode</label>
    <input
      type="text"
      class="form-control"
      id="companyPostcode"
      name="companyPostcode"
      placeholder="{{ user.company_postcode }}"
    />
  </div>

   <div class="form-group">
    <label for="companyCountry">Country</label>
    <select id="companyCountry" name="companyCountry">
    <option value="United Kingdom">United Kingdom</option>
    </select>
  </div>

  <div class="form-group">
    <label for="companyTel">Tel</label>
    <input
      type="tel"
      class="form-control"
      id="companyTel"
      name="companyTel"
      placeholder="{{ user.company_tel_number }}"
    />
  </div>

  <div class="form-group">
    <label for="companyReg">Company Registration Number</label>
    <input
      type="text"
      class="form-control"
      id="companyReg"
      name="companyReg"
      placeholder="{{ user.company_reg_number }}"
    />
  </div>
  <p>Bank Details: ONLY FOR USE ON INVOICE</p>
  <div class="form-group">
    <label for="bank">Bank Name</label>
    <input
      type="text"
      class="form-control"
      id="bank"
      name="bank"
      placeholder="{{ user.bank }}"
    />
  </div>

  <div class="form-group">
    <label for="sortCode">Sort Code</label>
    <input
      type="number"
      class="form-control"
      id="sortCode"
      name="sortCode"
      placeholder="{{ user.sort_code }}"
    />
  </div>

  <div class="form-group">
    <label for="accountNumber">Account Number</label>
    <input
      type="number"
      class="form-control"
      id="accountNumber"
      name="accountNumber"
      placeholder="{{ user.account_number }}"
    />
  </div>

  <br />
  <button type="submit" class="btn btn-primary">Update</button>
</form>
{% endblock %}

