{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<html lang="en">
<head>
    <title>Home</title>
    <style>
        .logo-container {
            text-align: center; /* Center the logo */
            margin-bottom: 20px; /* Space below the logo */
        }

        .responsive {
            width: 25%;
            height: auto;
        }
    </style>
</head>

<body>
    <div class="logo-container">
    {% if user.company_logo %}
        <img src="data:image/jpeg;base64,{{ user.company_logo }}" alt="Company Logo" class="responsive"/>
    {% else %}
        <p>No logo available</p>
    {% endif %}
</div>

<body>
    <br>
    <br/>
    <h1>Welcome, {{ user.company_name }}</h1>
    <a href="{{ url_for('views.create_invoice') }}">Create New Invoice</a>
    <br>
    <a href="{{ url_for('views.create_quote') }}">Create New Quote</a>

    <br>
    <br/>

    <h2>Your Invoices</h2>
    <ul>
        {% for invoice in invoices %}
            <li>
                <a href="{{ url_for('views.view_invoice', invoice_id=invoice.id) }}">
                    Invoice #{{ invoice.id }} - {{ invoice.client_name }} - {{ invoice.date_created.strftime('%d-%m-%Y') }}
                </a>
            </li>
        {% else %}
            <li>No invoices found.</li>
        {% endfor %}
    </ul>

    <br>

    <h2>Your Quotes</h2>
    <ul>
        {% for quote in quotes %}
            <li>
                <a href="{{ url_for('views.view_quote', quote_id=quote.id) }}">
                    Quote #{{ quote.id }} - {{ quote.client_name }} - {{ quote.date_created.strftime('%d-%m-%Y') }}
                </a>
            </li>
        {% else %}
            <li>No quotes found.</li>
        {% endfor %}
    </ul>
</body>

</html>
{% endblock %}